/* General */
.tweet-content {
  margin: 2em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Tweet header */
.tweet-content header {
  width: 100%;
  height: 67px;
  padding: 0.5em;
  background-color: #eee;
  opacity: 0.6;
}

.header-img {
  border-radius: 5px;
  float: left;
}

.header-name {
  margin-top: 0;
  margin-left: 0.5em;
  float: left;
}

.header-handle {
  margin-top: 0.41em;
  font-size: 0.95em;
  float: right;
}

/* Tweet body */

.tweet {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 0.5em;
}

/* Tweet footer */
.tweet-content footer {
  width: 100%;
  height: 35px;
  padding: 0 0.5em;
  border-top: 1px solid #eee;
  font-size: 0.85em;
}

.posted-time {
  margin: 0;
  padding: 0;
  line-height: 35px;
  vertical-align: center;
  float; left;
}

.icon {
  width: 25px;
  height: 25px;
  margin-top: 0.35em;
  float: right;
  visibility: hidden;
}

/* Hover behaviour */
.tweet-content:hover {
  border: 1px solid #ccc;
}

.tweet-content:hover header {
  opacity: 1;
}

.tweet-content:hover footer .icon {
  visibility: visible;
}
